@font-face {
  font-family: Proto Mono;
  src: url("../public/fonts/ProtoMono-Medium.ttf");
}

.container {
  font-family: "Proto Mono", Helvetica, Arial, san-serif;
  background-color: black;
  margin: -.5rem;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(
     0deg,
     rgba(0, 0, 0, 0.884),
     rgba(255, 255, 255, 0)
    ),
    url('../public/assets/blurBackground.png');
  background-size: cover;
  font-family: "Proto Mono", Helvetica, Arial, san-serif;
  margin: 0 5rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgba(8, 4, 4, 0.6);
  backdrop-filter: blur(10px);
  color: #929292;
  /* display: flex;
  flex: 1 1 100%; */
  font-size: 0.7rem;
  height: 4rem;
  position: fixed;
  transition: all 0.5s ease 0s;
  width: 100%;
  z-index: 100;

}

/* .collectionHeader {
  display: flex;
  align-items: center;
  background-color: rgba(8, 4, 4, 0.6);
  backdrop-filter: blur(10px);
  color: #929292;
  display: flex;
  flex: 1 1 100%;
  font-size: 0.7rem;
  height: 4rem;
  position: fixed;
  transition: all 0.5s ease 0s;
  width: 100%;
  z-index: 100;
  padding: 0 2rem;
} */

.logo {
  display: flex;
  align-items: center;
  height: 3rem;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 3rem;
}

.nav_items {
  display: flex;
  justify-content: space-evenly;
  width: 17rem;
  cursor: pointer;
}

.nav_items > p:hover {
  color: #ffffff;
}

.link:hover {
  color: #ffffff;
}

.searchSection {
  display: flex;
  color: #929292;
  font-size: 1rem;
  width: 22rem;
  height: 2.25rem;
  align-items: center;
  padding: 0.2rem;
  margin-left: -10rem;
  border: 1px solid #9292928b;
  border-radius: 0.2rem;
  cursor: pointer;
}

.searchSection > section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 20rem;
  height: 2.25rem;
}

.inputField {
  display: flex;
  width: 90%;
  color: rgb(217, 217, 217);
  background: none;
  font-size: 0.8rem;
  padding-left: 0.2rem;
  cursor: pointer;
  border: none;
  outline: none;
  font-family: "Proto Mono", Helvetica, Arial, sans-serif;
}

.connect_btn {
  /* margin-right: 4.8rem; */
  color: #000000;
  background-color: #ff8700;
  width: 10rem;
  height: 2.5rem;
  font-size: 0.85rem;
  border: none;
  border-radius: 0.2rem;
  outline: none;
  font-family: "Proto Mono", Helvetica, Arial, sans-serif;
}

.loggedIn_section {
  color: #ff8700;
  font-size: 0.5rem;
  text-shadow: currentcolor 0px 0px 16px;
}
